    h1 {
        color: #64113F;
        font-size: 2.5em;
    }
    h3 {
        color: #64113F;
        font-size: 2em;
    }

    .Center {
        text-align: center;
    }

    .bodytext {

        color: #64113F;
        font-size: 1.5em;
    }
    